body {
  margin: 0px;
  font-family: "Calistoga", cursive;
  text-align: center;
  color: white;
  letter-spacing: 0.2rem;
  background-color: rgb(0, 0, 68);
}
table {
  margin: 0px auto;
  border: 1px solid blue;
  border-collapse: collapse;
  border-spacing: 0px;
}
table th {
    color: blue;
}
table td,
table th {
  border: 1px solid blue;
  padding: 1.5rem 3rem;
}
